[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/json"]
	path = external/json
	url = http://cees-gitlab.Stanford.EDU/bob/json.git
[submodule "external/hypercube"]
	path = external/hypercube
	url = http://cees-gitlab.Stanford.EDU/bob/hypercube.git
[submodule "external/zfp"]
	path = external/zfp
	url = https://github.com/LLNL/zfp.git
[submodule "buffers"]
	branch = master
[submodule "sepVector"]
	branch = master
[submodule "external/cloud"]
	path = external/cloud
	url = https://github.com/googleapis/google-cloud-cpp.git
