[submodule "external/json"]
	path = external/json
	url = http://cees-gitlab.Stanford.EDU/bob/json.git
	ignore =dirty
[submodule "external/zfp"]
	path = external/zfp
	url = https://github.com/LLNL/zfp.git
	branch = master
[submodule "external/hypercube"]
	path = external/hypercube
	url = http://cees-gitlab.stanford.edu/bob/hypercube.git
