[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/json"]
	path = external/json
	url = http://171.64.169.69/bob/json.git
[submodule "external/hypercube"]
	path = external/hypercube
	url = http://171.64.169.69/bob/hypercube.git
